@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-scroll-container {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mobile-scroll-container::-webkit-scrollbar {
  display: none;
}